[submodule "shado-opengl-api/vendor/GLFW"]
	path = shado-opengl-api/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "shado-opengl-api/vendor/imgui"]
	path = shado-opengl-api/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "shado-opengl-api/vendor/glm"]
	path = shado-opengl-api/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "shado-opengl-api/vendor/spdlog"]
	path = shado-opengl-api/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "shado-opengl-api/vendor/shado-script"]
	path = shado-opengl-api/vendor/shado-script
	url = https://github.com/shadijiha/shado-script
[submodule "shado-opengl-api/vendor/box2d"]
	path = shado-opengl-api/vendor/box2d
	url = https://github.com/TheCherno/box2d
