# Binaries
**/bin/
bin-int/
.idea

# Log files
*.log
*.tlog
*.cache

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

**.csproj
**.csproj.filters
**.csproj.user

**/imgui.ini